.numeros{
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 30px;
    height: 30vh;
}

.firstline{
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 30vh;
}

.secondline{
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 30vh;
}
.resultado {
    font-size: 50px;

}
.go {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttongo {
    height: 50px;
    width: 50px;
    background-color: rgb(114, 181, 226);
}
.flexbox{
    display: flex;
}

.operation{
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: 0;
    padding: 0;
    height: 15vh;
    width: 100vw;
}
