
.button1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button2{
    align-items: center;
    z-index: 0; 
}
.popup{
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.caixinha{
    display: flex;
    height: 20vh;
    width: 25vw;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
    font-size: 120%;
    border: 2px solid black;
    background-color: rgb(201, 19, 19);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.caixinha1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.popup.ativo{
    display: flex;
}
.botaox{
    position: absolute;
    top: 10px;
    right: 10px;
}
.textopopup{
    position: absolute;
    font-size: 20px;
    right: 15px;
    left: 15px;
}
.botaofechar{
    display: flex;
    position: absolute;
    bottom: 10px;
    left:50%;
    transform: translate(-50%, -50%);
}