html, body{
    background-color: rgb(1, 47, 175);
}
header{
    justify-content: center;
    align-items: center;
}
.positionbutton1{
    display: flex;
    justify-content: center;
}
.button1{
    background-color: rgb(255, 0, 0);
    border: 0;
    padding: 25px;
    border-radius: 25px;
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: 1000;
    border: 2px solid black;
}
.bigbox{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
}
.bigbox.ativo{
    display: flex;
}
.mediumbox{
    display: flex;
    position: absolute;
    width: 60vw;
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.7);
}
.smallbox{
    display: flex;
    position:relative;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 30vw;
    height: 15vh;
    transform: translate(50%, 50%);
    background-color: aliceblue;
}
.alinhamentox{
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}
.buttonx{
    border-radius: 25px;
    background-color: red;
    color:aliceblue;
    border: 0;
    font-size: larger;
    padding: 5px 20px;
}
.alinhamentobuttonclose{
    display: flex;
    position: absolute;
    bottom: 10px;
    z-index: 1000;
}
.buttonclose{
    border-radius: 25px;
    background-color: red;
    color:aliceblue;
    border: 0;
    font-size: larger;
}