body {
    background-color: rgb(33, 57, 109);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: monospace;
    font-weight: 200;

}

header {
    background-color: rgb(17, 17, 141);
    color: rgb(212, 210, 64);
    padding: 30px 20px;
    text-align: center;
}

.boxalerta {
    background-color: chartreuse;
    margin: 20px;
    border-radius: 100px;
}

